.music_button a{
    width: 45%;
    margin-right: 10px;
}
.music_button p{
     font-size: 16px;
    }

@media only screen and (max-width: 1440px) {
  .music_button a{
     width: 45%;
     padding: 8px 5px;
    }
    .music_button p{
     font-size: 14px;
    }
}
@media only screen and (max-width: 1280px) {
  .music_button a{
     width: auto;
     padding: 5px;
    }
}
@media only screen and (max-width: 1230px) {
  .music_button a{
     padding: 5px;
     width: 45%;
    }
}
@media only screen and (max-width: 1199px) {
  .music_button a{
     width: 45%;
     padding: 8px 16px;
    }
}
@media only screen and (max-width: 839px) {
  .music_button a{
     width: 44%;
     padding: 4px;
    }
}
@media only screen and (max-width: 819px) {
  .music_button a{
     width: 49%;
     padding: 4px;
     margin: 0px;
    }
}
@media only screen and (max-width: 768px) {
  .music_button a{
     width: 49%;
     padding: 5px 0px 5px;
    }
}


/*music_playes_treak*/

.Music-footer {
  padding: 0 15px 0 30px;
  min-height: 73px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  z-index: 991;
  background: rgba(2, 7, 26, 0.8);
  margin: 0;
  transition: all 0.45s ease 0s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.Music_player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.details {
  display: flex;
  align-items: center;
}
  @media (min-width: 768px)
.track-art {
  text-align: left;
}
.track-art {
  margin-right: 25px;
  height: 40px;
  width: 40px;
  background-image: url("../images/01.html");
  background-size: cover;
  border-radius: 15%;
}
  @media (min-width: 768px)
.track-name {
  font-size: 17px;
}
.track-name {
  font-size: 18px;
  line-height: 26px;
  color: white;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.Music_playing {
  font-size: 1rem;
  display: none;
}
  @media (min-width: 768px)
.track-artist {
  text-align: left;
}
.track-artist {
  font-size: 14px;
  color: white;
}
.current-time, .total-duration {
  padding: 10px;
  color: white;
}
input[type='range'] {
  background: #f2426d;
}

.form-control-range_1 {
  width: 80%;
}
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: var(--iq-black);
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: #00baff;
  border-radius: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
  @media (min-width: 992px)
.col-lg-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.playpause-track, .prev-track, .next-track {
  padding: 0 15px;
  color: white;
  transition: opacity .2s;
}
.playpause-track, .prev-track, .next-track {
  padding: 0 15px;
  color: white;
  transition: opacity .2s;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.playpause-track, .prev-track, .next-track {
  padding: 0 15px;
  color: white;
  transition: opacity .2s;
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  @media (min-width: 992px)
.col-lg-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.btn-outline{
  border: 2px solid red;
}
.card-body {
    padding: 0.5rem;
}


@media only screen and (max-width: 2500px) {
    .Album_box_1{
    height: 74.8rem;
    }
}




.Album_box_1{
  height: 73.4rem;
}

@media only screen and (max-width: 2500px) {
    .Album_box_1{
    height: 74.8rem;
    }
}
@media only screen and (max-width: 1920px) {
    .Album_box_1{
    height: 69.9rem;
    }
}
@media only screen and (max-width: 1600px) {
    .Album_box_1{
    height: 69.4rem;
    }
}
@media only screen and (max-width: 1440px) {
    .Album_box_1{
    height: 69.1rem;
    }
}
@media only screen and (max-width: 1366px) {
    .Album_box_1{
    height: 70.3rem;
    }
}
@media only screen and (max-width: 1280px) {
    .Album_box_1{
    height: 72.2rem;
    }
}
@media only screen and (max-width: 991px) {
    .Album_box_1{
    height: auto;
    }
}


.music_treak_box{
    border-left: 2px solid #f22255;
    padding: 9px 12px;
    position: absolute;
    left: 150px;
    top: 156px;
    cursor: pointer;
}
@media only screen and (max-width: 1280px) {
    .music_treak_box{
    position: absolute;
    top: 192px;
  }
}
@media only screen and (max-width: 991px) {
    .music_treak_box{
    position: absolute;
    top: 142px;
  }
}
@media only screen and (max-width: 835px) {
    .music_treak_box{
    position: absolute;
    top: 155px;
  }
}
@media only screen and (max-width: 476px) {
    .music_treak_box{
    position: absolute;
    top: 192px;
  }
}

@media only screen and (max-width: 575px) {
    .slider_container {
    display: none;
    }
}

.music_background{
   background-image: url("https://webkit-admin-template.multipurposethemes.com/bs5/images/img15.jpg");
   background-size: 100% cover; background-position: center;
}

@media only screen and (max-width: 835px) {
    .music_background{
    background-image: none;
    background-color: #FFA112;
  }
}

#chat-box-body #chat-circle {
    position: fixed;
    bottom: 45px;
    right: 45px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transform: scale(1);
    border-radius: 10px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 60px;
    padding: 0;
    border-radius: 100%;
}